%h1 Home
- if flash[:notice]
  %h2 *** #{flash[:notice]} ***
- if current_user
  %p Welcome #{current_user.name}!
  %p
    = link_to "Sign Out", signout_path
- else
  %p
    = link_to "Sign in with Google google_login", "/auth/google_login"

    = link_to "Auth with Google google_auth", "/auth/google_auth"
